@import "tailwindcss";

@layer base {
  html {
    min-width: 20rem;
    font-optical-sizing: auto;
    font-weight: 500;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
  }

  body {
    font-size: 0.94rem;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    line-height: 1.2;
  }

  :where(button:hover) {
    cursor: pointer;
  }

  button {
    @apply focus:outline-primary focus:outline-2 focus:outline-solid focus:outline-offset-2;
  }
}

@theme {
  --font-sans: "League Spartan", sans-serif;
  --font-cursive: "Redacted Script", cursive;

  --color-primary: hsl(180, 29%, 50%);
  --color-primary-dark: hsl(180, 14%, 20%);
  --color-secondary: hsl(180, 8%, 52%);
  --color-background: hsl(180, 52%, 96%);
  --color-surface: hsl(0, 0%, 100%);
  --color-light: hsl(180, 8%, 85%);

  --animate-loading: 1s cubic-bezier(0.694, 0.0482, 0.335, 1) infinite loading;

  @keyframes loading {
    0% {
      transform: scaleX(1) translateX(-100%);
    }
    100% {
      transform: scaleX(0) translateX(-100%);
    }
  }
}

@utility bg-image {
  background-image: url("/images/bg-header-mobile.svg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (min-width: 48rem) {
    background-image: url("/images/bg-header-desktop.svg");
  }
}
