@import "tailwindcss";

@layer base {
  html {
    font-optical-sizing: auto;
    font-weight: 500;
  }

  body {
    font-size: 0.94rem;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    line-height: 1.2;
  }

  :where(button:hover) {
    cursor: pointer;
  }
}

@theme {
  --font-sans: "League Spartan", sans-serif;

  --color-primary: hsl(180, 29%, 50%);
  --color-primary-dark: hsl(180, 14%, 20%);
  --color-secondary: hsl(180, 8%, 52%);
  --color-background: hsl(180, 52%, 96%);
  --color-surface: hsl(0, 0%, 100%);
  --color-light: hsl(180, 8%, 85%);
}

@utility bg-image {
  background-image: url("/images/bg-header-mobile.svg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (min-width: 48rem) {
    background-image: url("/images/bg-header-desktop.svg");
  }
}
